---
import Layout from '../layouts/Layout.astro';
---
<Layout>
<h1 class="text-3xl font-bold underline text-white capitalize">
    Gracias por rellenar el formulario!
</h1>
<p class="text-white mt-4">
    Nos pondremos en contacto contigo lo antes posible.
</p>
    <a href="/" class="text-blue-500 hover:underline">Volver al inicio</a>
</Layout>
